.mat-mdc-table {
  border-bottom: darkgray;
  border-left: darkgray;
  border-right: darkgray;
}

tr.mat-mdc-row {
  height: 32px;
}
tr.mat-mdc-header-row {
  height: 32px;
}
.elite {
  background: gold;
}

.allPro {
  background: lightblue;
}
.starter {
  background: burlywood;
}
.bench {
  background: salmon;
}
.none {
  background: lightgrey;
}
.tableData {
  width: 200px;
  font-size: 16pt;
  text-align: left;
}
.stat-table {
  width:  80px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid lightslategray;
}

.legend {
  margin-top: 30px;
}

td {
  padding-left:10px;
  padding-right:10px;
}

.mat-column-budget{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.mat-column-team{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.mat-column-QB{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.mat-column-RB{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.mat-column-WR{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.mat-column-DST{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.mat-column-TE{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
.mat-column-K{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}
td.mat-mdc-header-cell {
  width: 30px;
  padding-left: 5px;
  text-align: center;
  /*padding-right: 200px;*/
}

teamnames {
  text-align: left;
}
td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type, th.mat-mdc-header-cell:first-of-type {
   padding-left: 5px;
}
