<mat-card align=center width=80% class="testCard">
  <H2><b>Welcome to the Wannabe Draft!</b></H2>
  <img class=raiders width=50%
    src="http://fantasy.img.cbssports.com/G/football/leagues/lbe/wannabbe/images/league-logo/32556800-8F81-11E9-9B43-D465D1DAD486-800x600.jpg"
    alt="Photo of a Shiba Inu">
  <p></p>
  <mat-card-content>
    <select (change)="selectChange()" [(ngModel)]="draftOwner">
      <option hidden [value]="" selected>Select your team </option>
      <option *ngFor="let team of teams ">
        {{team.teamName}}
      </option>
    </select>
    <p></p>
    <input matInput (change)="btnClick()" type="password" placeholder="password" [(ngModel)]="password"><br>

    <!-- <button mat-raised-button (click)="btnClick()" color="primary">Enter Draft</button> -->

  </mat-card-content>
</mat-card>
