td.mat-cell {
  padding-right: 20px;
}
table {
  margin-bottom: 30px;
}
.taken {
  background: lightgray;
}
.highlight{
  background: antiquewhite;
}
h4 {
  margin-bottom: 40px;
}
tr.mat-row {
  height: 32px;
}
tr.mat-header-row {
  height: 32px;
}
