select.form-control {
  width: 150px;
}
.tableLabel {
  width: 200px;
  font-size: 16pt;
  font-weight: 800;
  text-align: right;
  padding-right: 10px;

}
.mat-mdc-table {
  border-bottom: darkgray;
}

.tableData {
  width: 200px;
  font-size: 16pt;
  text-align: left;
}

.summaryDiv {
  padding-top: 1cm;
  padding-bottom: 1cm;
  align-content: center;
  align-items: center;
}

.stat-table {
  width:  80px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid lightslategray;
  text-align: center;
}

.summaryStats {
  margin-bottom: 60px;
}

.selectStat {
  margin-bottom: 1cm;
}
.quarterback {
  background: lightgreen;
}

.runningback {
  background: lightblue;
}

.widereceiver {
  background: lightgoldenrodyellow;
}

.tightend {
  background: lightgray;
}

.kicker {
  background: lightcoral;
}

.defense {
  background: cyan;
}
tr.mat-mdc-row {
  height: 32px;
}
tr.mat-mdc-header-row {
  height: 32px;
}
.table-container {
  max-width: 560px;
  /*max-height: 500px;*/
  overflow: auto;
  margin-bottom: 40px;
  text-decoration: none;
}

.table-container2 {
  /*max-width: 560px;*/
  max-width: 100%;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 40px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 2px solid #e0e0e0;
}

.table-overrides {
  line-height:  18px;
  padding-left: 25px;
}
.team-pad {
  padding-left: 5px;
}

.scroll-border {
  border-right-color: darkgray;
  border-right-width: 1px;
  border-right-style: solid;
}
