
/*  p.welcomemessage {font-size: 30px; text-align: center;  margin-bottom: 1cm; margin-top: 1cm}*/
.raiders {
  width: 80%;
  max-width: 500px;
  margin-bottom: 1cm;
  padding-top:2vw;
}

h3 {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 4.5vw;
}

.spacer {
  margin-bottom: 30px;
}

mat-card {align-content: center}
mat-card-title.testCard {page-break-after: always}
mat-label.selectLabel {font-size: 20px}

mat-select { page-break-after: always}

mat-form-field {align-content: center}

.mat-raised-button { margin-top: 30px}

.password_msg {
  width: 80%;
  max-width: 500px;
  display: inline-block;
}
