<!-- <div *ngIf="isLoaded"> -->
<app-menu></app-menu>
<div style="padding-top: 10px" align=center>
  <a (click)="refresh()"> click here to refresh </a>

  <mat-card width=100%>
    <mat-card-title>
      Player Selection
    </mat-card-title>
    <mat-card-content>
      <div align=center>
        <h3><b>Round {{draftRound}} </b></h3>
        {{remainingPlayersToDraft}} players remaining<br>
        <h4><b>{{onTheClock}} is on the Clock</b></h4>
        <!-- Player: -->
        <mat-form-field class="example-form">
          <input [(ngModel)]="selectedPlayer" type="text" placeholder="Player" aria-label="Player" matInput
                 [formControl]="playerControl" [matAutocomplete]="auto1" [autofocus]=true>
          <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayPlayerFn">
            <mat-option *ngFor="let player of playerFilteredOptions| async" [value]="player">
              {{player.playerName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <br>

        <!-- Team: -->
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="selectedTeam" type="text" placeholder="Team" aria-label="Team" matInput
                 [formControl]="teamControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayTeamFn">
            <mat-option *ngFor="let team of teamFilteredOptions| async" [value]="team">
              {{team.teamName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <br>

        <!-- Amount: -->
        <mat-form-field>
          <input [(ngModel)]="currentBid" matInput placeholder="Amount">
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>
        <br>

        <button (click)="submit()" name="btn" ngDefaultControl mat-raised-button color="primary">Submit</button>
        <br>
        <a (click)="undoLastSelection()">Undo last selection</a>

        <mat-label [(ngModel)]="statusMessage" name="statusLable" ngDefaultControl></mat-label>
        <br>
      </div>

    </mat-card-content>
  </mat-card>

  <hr>
  <div>
    <mat-card width=100%>
      <mat-card-title>
        Available Players
      </mat-card-title>
      <mat-card-content>

        <div align=center width=30%>
          <form (ngSubmit)="submit()" #setupForm="ngForm" class="example-form">
            <label for="position">Select Position</label>
            <select width=30% (change)="selectPlayers()" type="string" class="form-control position-width" id="position"
                    [(ngModel)]="positionSelection" name="position" #position="ngModel">
              <option value="all">all</option>
              <option value="QB">QB</option>
              <option value="RB">RB</option>
              <option value="WR">WR</option>
              <option value="TE">TE</option>
              <option value="K">K</option>
              <option value="DST">DST</option>
            </select>
          </form>
          <!-- <table class="table table-stripped table-hover"> -->
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>

          <div class="table-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="fantasyPoints" matSortDirection="desc"
                   class="mat-elevation-z8 table-overrides">

              <!-- Position Column -->
              <ng-container class="position-column" matColumnDef="position" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pos</th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="playerName" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Player</th>
                <td mat-cell *matCellDef="let element"> {{element.playerName}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="NFLTeam">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NFLTeam</th>
                <td mat-cell *matCellDef="let element"> {{element.NFLTeam}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="percentStart">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> % Start</th>
                <td mat-cell *matCellDef="let element"> {{element.percentStart}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="percentOwn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> % Own</th>
                <td mat-cell *matCellDef="let element"> {{element.percentOwn}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="byeWeek">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Bye Week</th>
                <td mat-cell *matCellDef="let element"> {{element.byeWeek}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="fantasyPoints">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Points</th>
                <td mat-cell *matCellDef="let element"> {{element.fantasyPoints}} </td>
              </ng-container>

              <!-- Assessment Column -->
              <ng-container matColumnDef="assessment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Assessment</th>
                <td mat-cell *matCellDef="let element"> {{element.assessment}} </td>
              </ng-container>

              <!-- Cost Column -->
              <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost</th>
                <td mat-cell *matCellDef="let element"> {{element.costEstimate}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true" class="tst"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  [ngClass]="{'highlight': row.playerName === selectedPlayer}" (click)="selectRow(row)"></tr>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
