select.form-control {
  width: 150px;
}

.selectStat {
  margin-bottom: 1cm;
}
.quarterback {
  background: lightgreen;
}

.runningback {
  background: lightblue;
}

.widereceiver {
  background: lightgoldenrodyellow;
}

.tightend {
  background: lightgray;
}

.kicker {
  background: lightcoral;
}

.defense {
  background: cyan;
}
