.example-action-button {
  margin-top: 8px;
  margin-right: 8px;
}


.mat-mdc-tab-link {
  min-width: 10px;
}

.mat-mdc-icons {
  font-size: 40px;
}

.ng-star-inserted-mobile {
  height: 64px;
  position: fixed;
}
.spacer {
  height:52px;
  background-color:white;
  position: fixed;
  width: 100%;
  padding-bottom: 20px;
}
.spacer2 {
  height:75px;
  position: fixed;
  width: 100%;
}
