<app-menu></app-menu>
<a (click)="refresh()"> click here to refresh </a>

<H3>Draft Statistics</H3>

<div align=center>
  <mat-card>
    <mat-card-title>
      Players remaining by category
    </mat-card-title>
    <mat-card-content>
      <div class="summaryStats">
        <table class="mat-elevation-z8">
          <tr>
            <th class="stat-table">Pos</th>
            <th class="stat-table">Elite</th>
            <th class="stat-table">All-Pro</th>
            <th class="stat-table">Starters</th>
            <th class="stat-table">Reserves</th>
          </tr>
          <ng-container *ngFor="let pos of playerMapKeys">
            <tr>
              <td class="stat-table">{{playerMap.get(pos).position}}</td>
              <td class="stat-table">{{playerMap.get(pos).elite}}</td>
              <td class="stat-table">{{playerMap.get(pos).allPro}}</td>
              <td class="stat-table">{{playerMap.get(pos).starter}}</td>
              <td class="stat-table">{{playerMap.get(pos).reserve}}</td>
            </tr>
          </ng-container>
        </table>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Post-Draft Power Rankings
    </mat-card-title>
    <mat-card-content>
      <div>
          <select (change)="setStatScope()" [(ngModel)]="startersOnlySelection">
            <option hidden [value]="" selected>Select Analysis Option</option>
            <option value=true> Starters Only </option>
            <option value=false> Starters + 1 Reserve per position </option>
          </select>
          <canvas width=600px id="myChart"></canvas>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Performance against the average
    </mat-card-title>
    <mat-card-content>
      <div align=center>
        <form #setupForm="ngForm" class="example-form">
          <label for="position">Filter by Owner</label><br>
          <select width=30% (change)="selectPlayers()" type="string" class="form-control position-width" id="position"
            [(ngModel)]="spiderTeamSelection" name="position" #position="ngModel">
            <option value="all">---</option>
            <option *ngFor="let team of teams">
              {{team.teamName}}
            </option>
          </select>
        </form>
      </div>
      <div>
        <canvas width=600px id="spiderChart"></canvas>
      </div>
    </mat-card-content>
  </mat-card>
</div>
