.quarterback {
  background: lightgreen;
}

.runningback {
  background: lightblue;
}

.widereceiver {
  background: lightgoldenrodyellow;
}

.tightend {
  background: lightgray;
}

.kicker {
  background: lightcoral;
}

.defense {
  background: cyan;
}
.mat-header-cell {
  font-size: 14px;
  font-weight: 800;
}
tr.mat-row {
  height: 32px;
}
tr.mat-header-row {
  height: 32px;
}
.table-container {
  max-width: 100%;
  max-height: 500px;
  overflow: auto;
}
.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.table-overrides {
  line-height: 14px;
}
